@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_page {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    var(--image-url);
  content: "";
  /* position: fixed; */
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
